<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog API</title>
</head>
<body>
    <h1>Blog API</h1>

    <h2>Endpoints:</h2>
    <ul>
        <li>
            <h3>GET</h3>
            <ul>
                <li>/posts</li>
                <li>/posts/{id}</li>
            </ul>
        </li>
        <li>
            <h3>POST</h3>
            <ul>
                <li>/posts</li>
            </ul>
        </li>
        <li>
            <h3>PUT/DELETE</h3>
            <ul>
                <li>/posts/{id}</li>
            </ul>
        </li>
    </ul>
</body>
</html>